@CHARSET "UTF-8";

body {
	margin-top: 40px;
	font-size: 12px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

/* Headerns stilmallar */

#header {
}

#header h1,
#header span {
	display: inline-block;
	font-size: 24px;
	vertical-align: 20px;
	margin-left: 20px;
	padding-top: 10px;
}

#logo {
	background-image: url('../images/scoutlilja-bla.png');
	display: inline-block;
	margin-left: 30px;
	margin-top: 10px;
	height: 61px;
	width: 61px;
}

#logo span {
	display: none;
}

/* Stilmallar för sidspalter */

#accordion {
	height: 100%;
}

#sidebar {
	float: left;
}

a.accordion-button {
	display: block;
}

/* Stilmallar för innehåll */

#content {
	margin-left: 270px;
	padding-top: 4px;
}

#content-header {
	height: 40px;
	margin-bottom: 10px;
}

#title {
	font-size: 16px;
	padding-top: 12px;
	padding-left: 30px;
}

#navigation-space a.button {
	display: inline-block;
	padding-left: 10px;
}

.standard-width fieldset {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.content-box {
	border: 1px solid grey;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	min-height: 160px !important;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	/* width: 400px; */
}

.content-box ul {
}

.content-box-description {
	margin-left: 55px;
	min-height: 45px;
}

.content-box-description h3 {
	margin: 0px;
}

/* Formulärsaker */

form input {
	margin-bottom: 5px;
}

a.submit-button {
	margin-top: 10px;
}

/* Ikoner */

.content-box-logo {
	background-image: url("../images/icons/misc.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	height: 45px;
	width: 45px;
}

.content-box-logo span {
	display: none;
}

#box-privileges .content-box-logo {
	background-image: url("../images/icons/permissions.png");
}

#box-users .content-box-logo {
	background-image: url("../images/icons/users.png");
}

#category-compounds .content-box-logo {
	background-image: url("../images/icons/compounds.png");
}

#category-customers .content-box-logo {
	background-image: url("../images/icons/customer-types.png");
}

#category-locks .content-box-logo {
	background-image: url("../images/icons/locks.png");
}

#category-users .content-box-logo {
	background-image: url("../images/icons/users.png");
}